@page
@using Microsoft.AspNetCore.Identity;
@using SleekClothing.Helpers;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model SleekClothing.Pages.checkout.IndexModel

@{
    ViewData["Title"] = "Checkout";
}

<div class="container-fluid mx-auto my-4">
    <h1>Checkout</h1>

</div>

@* if there are items in the user's cart, show cart details *@
@if (SignInManager.IsSignedIn(User) && Model.Products.Count > 0)
{
    @foreach (var product in Model.Products)
    {
        <div class="card m-4" >
            <div class="row g-0">
                <div class="col">
                    <img src="@product.ImageLocation" class="h-100 img-fluid rounded-start" alt="@product.Name">
                </div>
                <div class="col-10">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>

                       <div class="d-flex align-items-center gap-2 fs-3 bg-light border px-2 rounded">
                            <p class="card-text my-2 fw-bold">@product.PriceAfterDiscount.ToString("c2")</p>
                            <span>x @product.CartQuantity</span>
                       </div>


                    </div>
                </div>
            </div>

        </div>

    }
    <p class="fw-light fs-4 mx-4">Total @Model.CartTotal.ToString("c2")</p>
    <a href="/checkout" class="btn btn-primary mx-4">Checkout</a>
    <span class="fs-6"><a href="/products">Browse products</a></span>
}
else if (SignInManager.IsSignedIn(User) && Model.Products.Count == 0)
{
    <div class="d-flex flex-column align-items-center justify-content-center align my-5">
        <h1 class="fw-bold">¯\_(ツ)_/¯</h1>
        <h1>You have no items in your cart</h1>
        <a href="/products">Click here to browse our products</a>
    </div>
}
else
{
    <div style="padding: 100px 0px;">
        <span><a href="/Identity/Account/Register">Signup</a> or <a href="/Identity/Account/Login">Login</a> to view your cart.</span>
    </div>    
}
