@page
@model SleekClothing.Pages.admin.products.IndexModel

@{
    ViewData["Title"] = "Products";
}
<br/>
<h1>Product Management</h1>
<h3 class="text-muted fw-normal">Create, edit, and delete products.</h3>
<br/>

<h3>Products</h3>
<p>
    <a asp-page="Create" class="">Add a new product</a>
</p>

@* Product table *@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                <img src="@item.ImageLocation" alt="@item.Name" class="img-fluid" style="max-width: 100px;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <div class="d-flex flex-column p-3 rounded-3 gap-1">
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> 
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

     
