@page
@model SleekClothing.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@* Jumbotron *@
<div class="bg-primary container-fluid text-white py-5">
    <div class="container py-5">
        <h1>
            Best products & <br />
            brands in our store
        </h1>
        <p>
            High Quality Products, Great Prices, Excellent Service
        </p>

        <a href="/products" class="btn btn-light border-0">Browse products</a>

    </div>


</div>

@* Products grid list *@
<section>
    <div class="container my-5">
        <div class="mb-2">
            <h1>New Arrivals</h1>
        </div>

    <hr/>
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                    <div class="card w-100 border-0 my-2 shadow-2-strong">
                        @* Card Image *@
                        <img src="@product.ImageLocation" class="card-image position-relative card-img-top pb-2" style="aspect-ratio: 1 / 1">
                        @* buttons *@
                        <div class="card-buttons position-absolute w-100" style="top: 125px;">
                            <form method="post" class="d-flex gap-1 h-auto align-items-center justify-content-center bg-white border-0 py-2">
                                <a class="btn btn-outline-primary border px-2 pt-2 " asp-page="/products/Details" asp-route-id="@product.Id">Details</a>
                                <button asp-page-handler="AddToCart" asp-route-productId="@product.Id" class="btn btn-outline-info border px-2 pt-2 icon-hover"><i class="fas fa-cart-plus fa-lg text-secondary px-1"></i></button>
                                <button asp-page-handler="AddToWishlist" asp-route-productId="@product.Id" class="btn btn-outline-danger border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></button>
                            </form>
                        </div>
                        <img>
                        <div class="d-flex flex-column">
                            @* Card Content *@
                            <h5 class="card-title">@product.Name</h5>
                            @if (product.HasDiscount)
                            {
                                <p class="text-success fw-bold mb-0">@product.Discount% OFF</p>
                                <div class="d-flex gap-2">

                                    <span class="text-decoration-line-through">
                                        @product.Price.ToString("c2")
                                    </span>
                                    <span class="fw-bold">
                                        @product.PriceAfterDiscount.ToString("c2")
                                    </span>
                                </div>
                            }
                            else
                            {
                                <span class="">
                                    @product.Price.ToString("c2")
                                </span>
                            }

                            @if (product.IsOutOfStock)
                            {
                                <p class="text-warning mb-0 fw-bold">OUT OF STOCK</p>
                            }                            
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="d-flex justify-content-center m-4">
            <a href="/products" class="btn btn-primary shadow-0 me-1 ">View all products</a>
        </div>
    </div>
</section>

