@page
@using SleekEcommerce.Helpers;
@model SleekEcommerce.Pages.cart.IndexModel
@{
    List<Models.Product> products = CartHelper.GetGroupedCartItems(Model.HttpContext.Request);
}

@foreach (var product in products)
{
    <div class="card m-4" >
        <div class="row g-0">
            <div class="col">
                <img src="@product.ImageLocation" class="h-100 img-fluid rounded-start" alt="@product.Name">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text my-2">Quantity: @product.CartQuantity</p>
                    <p class="card-text my-2">Category: @product.Category.Name</p>
                    @if (product.HasDiscount)
                    {
                        <p class="card-text my-2">Discount: @product.Discount %</p>
                        
                    }
                    <p class="card-text my-2">@product.Price.ToString("c2")</p>
                </div>
            </div>
        </div>
        @if (product.CartQuantity > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle fs-4 badge rounded-pill bg-primary">
                @product.CartQuantity
            </span>
        }

    </div>

}
<p class="fw-light fs-4 mx-4">Total @CartHelper.GetCartTotal(Model.HttpContext.Request).ToString("c2")</p>
<a href="/cart" class="btn btn-primary mx-4">Checkout</a>
<span class="fs-6"><a href="/products">Browse products</a></span>
